R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_BUCKET=hoteleria-storage
R2_ACCESS_KEY_ID=changeme
R2_SECRET_ACCESS_KEY=changeme
SERVER_PORT=8002
MAX_FILE_SIZE=10485760
MAX_FILES_PER_REQUEST=20
